<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /www.toptencomics.com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /www.toptencomics.com/index.php [L]
</IfModule>
